{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Об авторе проекта</h1>
  <p> 
    Привет! Это <a href="https://github.com/jeniavoropay">Женя Воропай</a>, и этот проект 
    я сделала в рамках курса «Python-разработчик» от Яндекс Практикума.
  </p>
  <p>
    Вообще-то я PR-специалист со стажем 7 лет (да — с софт-скиллами все в порядке), 
    но год назад я начала думать о том, что устала от профессии и хочу все поменять. 
    IT всегда казалось чем-то волшебным и совершенно недоступным, однако в приближении 
    появилось ощущение, что это просто когнитивная ловушка.
  </p>
  <p>
    Я много работала с IT-компаниями, а мой майндсет, кажется, 
    подходит для комфортного существования в сфере. Так что я 
    решила — почему бы и не попробовать. Спустя несколько месяцев обучения я нахожусь 
    где-то на входе в <a href="https://habr.com/ru/post/682250/">пустыню отчаяния</a>, 
    но сдаваться пока не собираюсь. 
  </p>
  <p>
    Сделать проект мне помог мой кот. Если бы не перерывы на почесать ему 
    животик — ничего бы не получилось. Вот он на фотографии: прилег на рабочем 
    столе и как бы намекает, что снова пора отдохнуть.  
  </p>
  {% load static %}
  <img src="{% static 'img/cat.jpeg' %}" width="600">
{% endblock %} 